# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.class

# Android
android/.gradle/
android/local.properties
android/app/google-services.json

# Firebase — QUAN TRỌNG, không push key lên github
google-services.json
firebase_options.dart
lib/firebase_options.dart

# IDE
.idea/
.vscode/
*.log